@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

/*Normal Mode*/
.body-1 {

    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(179, 176, 179);   
}

.contenedor-1{
    width: 70%;
    height: 80vh;
    background-color: rgb(174, 148, 236);
    box-shadow: 5px 5px 10px rgb(0, 0, 0,.212);
    border-radius: 5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.ítem-1 {
    display: flex;
    flex-direction: column-reverse;
}
.ítem-1 img {
    width: 500px;
    border-radius: 2vh; 
}

.título {
    font-size: x-large;
    text-align: center;  
}

.ítem-4 {
    display: flex;
    justify-content: center;
    margin: 1.5vh;

}
.btn{
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 1vh;
    padding: 0.4rem 2.5rem;
    cursor: pointer;
}

.input-box {
    display: flex;
    flex-direction: column;
}
.input-box input {
    padding: 0.8 rem 1.2 rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0,.212);
    height: 4vh;
    
}
.input-box label {
    font-size: 0.5 rem;
    margin: 0.25vh;
}
.input-box input:hover {
    background-color:rgb(207, 204, 207);    
}

.ítem-3 label {
    font-size: 0.5 rem;
    margin: 0.3vh;
}
.ítem-3 select {
    padding: 0.8 rem 1.2 rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0,.212);
    height: 4vh;
    width: 50%;
    cursor: pointer;
}

.ítem-3 select:hover {
    background-color:rgb(207, 204, 207); 
}
.ítem-3 textarea {
    padding: 0.8 rem 1.2 rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0,.212);
    height: 4vh;
    width: 100%;
}
.ítem-3 textarea:hover {
    background-color:rgb(207, 204, 207); 
}
.whatsapp {
    color:  rgb(51, 22, 118);;
}


/*Dark Mode*/
.body-2{
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0); 
    color: white;  

}
.contenedor-1-2 {
    width: 70%;
    height: 80vh;
    background-color: rgb(51, 22, 118);
    box-shadow: 5px 5px 10px white;
    border-radius: 5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.whatsapp-2 {
    color: white;
}

@media screen and (min-width: 360px) and (max-width: 375px){

    .contenedor-1{
        width: 90%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenedor-1-2{
        width: 90%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ítem-1 img {
        display: none; 
    }
    .título {
       height: 70px;
       font-size: larger;
    }
    .subtítulo-1{
        height: 10px;
        font-size: larger;
     }
     .subtítulo-2{
        height: 10px;
        font-size: larger;
     }
    }

    @media screen and (max-width: 1170px) {
        .body-1{
            margin-top: 50px;
        }
        .ítem-1 img {
            width: 250px;
            border-radius: 2vh; 
            
        }
        .contenedor-1{
            padding: 30px;
        }
        header{
            text-align: center;
        }
    }