@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;1,400&family=Inter:wght@200;300;400;500;600&family=Poltawski+Nowy:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-2{
    padding: 30px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*Heder*/

.header{
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, hsla(161, 61%, 56%, 0.736), hsla(261, 37%, 60%, 0.747)),url(./Images/10.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.container-1 {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
    
}
.title {  
    padding: 25px 60px;
    font-family: 'Bodoni Moda', serif;
    font-size: xx-large;
    font-weight: 500;
    height: 17vh;
    transition: 1.5s;
    color: rgb(221, 246, 246);
}
.nav{
    padding: 30px 60px;
    font-weight: 300;
}
.nav ul ol{
    font-family: 'Bodoni Moda', serif;
    font-size: 1 rem;
    margin-left: 75px;
    float: left;
    padding: 8px;
    cursor: pointer;
    color:rgb(221, 246, 246);
}
.nav ul ol:hover {
    text-decoration-line: underline;
    font-style: italic;
}
.inicio {
    font-weight: bold;
    font-style: italic;
}
.content-header{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.nombre {
    font-family: 'Bodoni Moda', serif;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-weight: 500;
    
}
.text1{
    font-family: 'Inter',sans-serif;
    font-size: xx-large;
    font-weight: 400;
    color:rgb(112, 230, 201);
}
.parrafo1{
    width: 600px;
    font-family: 'Inter',sans-serif;
    font-size: medium;
    color:rgb(18, 65, 64);
    font-weight: 400;

}

/*main*/
/*descripción*/
.titulos{
    font-family: 'Bodoni Moda', serif;
    font-size: 1.9rem;
    font-weight: 550;
    text-align: center;
    padding: 10px;
    color: rgb(15, 153, 150);
}
.content-container2{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;                  
}
.img1 {
    width: 500px;
    height: fit-content;
}
.textos1{
    width: 370px;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(193, 248, 234);
    color: rgb(18, 65, 64);
    padding: 30px;  
}
/*fotos*/
.container-3{
    padding: 30px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.tit{
    display: flex;
    justify-content: end;
    padding-right: 100px;
}
.titulos2{
    margin: 0;
    width: 700px;
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    font-weight: 550;
    text-align: right;
    color: rgb(15, 153, 150); 
}

.fotos{
    display: flex;
    flex-direction: row;
    width: 100%;  
}
.caja1{
background-color: rgb(112, 230, 201);
width: 500px;
height: 410px;
display: flex;
flex-direction: row;

}
.fot1 {
    width: 255px;
    height: 403px;
    padding: 10px 10px 0;
}
.fot2 {
    width: 250px;
    height: auto;
    padding: 10px 3px 0 0;
    }
.fot3 {
    width: 250px;
    height: auto;
    padding: 10px 3px 0 0;
}
.caja2{
background-color: rgb(112, 230, 201);
width: 500px;
display: flex;
flex-direction: column;
}
.fot4 {
    width: auto;
    height: 220px;
    padding: 10px 10px 0;
}
.prueba .fot6, .fot5 {
    width: 242px;
    height: 180px;
    padding: 10px 0 0 10px;
    }
.caja3{    
    display: flex;
    flex-direction: row;
    background-color: rgb(112, 230, 201);
    width: 100%;
    height: 200px;
}
.caja3 .fot7, .fot8, .fot9, .fot10{
    padding: 10px 0px 0px 10px;
    height: 190px;   
}

.fot1, .fot2, .fot3, .fot4, .fot5, .fot6, .fot7, .fot8, 
.fot9, .fot10 :hover{
    cursor: pointer;
}

.foot{
    height: 100px;
    background-color: rgb(18, 65, 64);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tit2 {
    font-family: 'Bodoni Moda', serif;
    color: white;
    font-weight: 400;
    font-size: xx-large;

}